[Unit]
Description=daily media synchronization
RefuseManualStart=no
RefuseManualStop=no
 
[Timer]
Persistent=false
OnCalendar=*-*-* 01:00:00
 
[Install]
WantedBy=default.target
