"*":
  "atom-beautify":
    html:
      beautify_on_save: true
    js:
      beautify_on_save: true
      default_beautifier: "Prettier"
      end_with_comma: true
      end_with_newline: true
      object_curly_spacing: true
    jsx:
      beautify_on_save: true
      default_beautifier: "JS Beautify"
  "atom-path-intellisense":
    "allowed-scopes": ".source .string, .source.shell, .text .string, .text.html.basic"
    "enable-debug": false
    "manual-suggest": true
    "provider-strategy-all": false
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "background-tips"
      "atom-beautify"
      "linter-rubocop"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "bracket-matcher"
    ]
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "81d4ad8e-3fd8-4fb1-8943-5331e31662df"
  "file-icons": {}
  linter:
    lintOnChange: false
  "linter-eslint":
    disabling:
      disableWhenNoEslintConfig: false
    global:
      eslintrcPath: "/home/will/projects/.eslintrc.yml"
      globalNodePath: "/home/will/.nvm/versions/node/v14.5.0"
      useGlobalEslint: true
  "linter-rubocop":
    command: "/home/will/.rbenv/shims/rubocop --config /home/will/projects/.rubocop.yml"
  "linter-ui-default":
    panelHeight: 279
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNoConfigFile: true
      showInStatusBar: true
    useEditorConfig: false
  welcome:
    showOnStartup: false
